Architecture: iphoneos-arm
Depends: firmware (>= 10.3.3), rsync
Author: MidnightChips
Description: iOS Time Machine
Maintainer: MidnightChips
Name: SnapBack
Package: me.midnightchips.snapback
Section: Application
Version: 1.0
