Architecture: iphoneos-arm
Depends: firmware (>= 10.3.0), rsync, cy+cpu.arm64
Author: MidnightChips
Description: iOS Time Machine
Maintainer: MidnightChips
Name: SnapBack
Package: me.midnightchips.snapback
Section: Utilities
Version: 2.0.2
Icon: https://midnightchips.me/me.midnightchips.snapback/icon.png
SileoDepiction: https://midnightchips.me/api/modern/me.midnightchips.snapback
Depiction: https://midnightchips.me/depictions/me.midnightchips.snapback
