Architecture: iphoneos-arm
Depends: firmware (>= 10.3.0), rsync, cy+cpu.arm64
Author: MidnightChips
Description: iOS Time Machine
Maintainer: MidnightChips
Name: SnapBack
Package: me.midnightchips.snapback
Section: Application
Version: 1.0.2
